flows.json
[{"id":"205051cd.ee5b9e","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"281c6806.a0021","type":"comment","z":"205051cd.ee5b9e","name":"Motor X ","info":"","x":330,"y":40,"wires":[]},{"id":"2de415af.f27db2","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"X SX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"q","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":100,"wires":[["dcad2277.3bced","4b424c4e.d6e4f4"]]},{"id":"1f79dcba.ff7323","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"X DX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"w","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":140,"wires":[["dcad2277.3bced","4b424c4e.d6e4f4"]]},{"id":"4b424c4e.d6e4f4","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":100,"wires":[]},{"id":"dcad2277.3bced","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":460,"y":140,"wires":[]},{"id":"c3973086.6b6b4","type":"comment","z":"205051cd.ee5b9e","name":"Motor Y","info":"","x":330,"y":220,"wires":[]},{"id":"ab10f049.637ba","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"Y SX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"a","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":280,"wires":[["5599cfbf.a30548","66dd1e89.b21b48"]]},{"id":"3a6066b7.f85f5a","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"Y DX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"s","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":320,"wires":[["5599cfbf.a30548","66dd1e89.b21b48"]]},{"id":"66dd1e89.b21b48","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":280,"wires":[]},{"id":"5599cfbf.a30548","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":460,"y":320,"wires":[]},{"id":"c4c14549.2e4a9","type":"comment","z":"205051cd.ee5b9e","name":"Motor Z","info":"","x":330,"y":400,"wires":[]},{"id":"8e623764.a55058","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"Z SX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"r","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":460,"wires":[["fd46e9b0.eaf8f8","c8297e8c.b26e6"]]},{"id":"5deba9a.a734f58","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"Z DX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"t","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":500,"wires":[["fd46e9b0.eaf8f8","c8297e8c.b26e6"]]},{"id":"c8297e8c.b26e6","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":460,"wires":[]},{"id":"fd46e9b0.eaf8f8","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":460,"y":500,"wires":[]},{"id":"af3dbd16.69b2a8","type":"comment","z":"205051cd.ee5b9e","name":"Motor A","info":"","x":330,"y":600,"wires":[]},{"id":"588519f2.8bcc98","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"A SX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_left","payload":"f","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":660,"wires":[["a151948c.3946f","e0602d5d.d3ea7"]]},{"id":"3b80b427.cf9a5c","type":"ui_button","z":"205051cd.ee5b9e","name":"","group":"e351eee2.f58f2","order":2,"width":0,"height":0,"passthru":false,"label":"A DX","tooltip":"","color":"","bgcolor":"","icon":"keyboard_arrow_right","payload":"g","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":700,"wires":[["a151948c.3946f","e0602d5d.d3ea7"]]},{"id":"e0602d5d.d3ea7","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":660,"wires":[]},{"id":"a151948c.3946f","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":460,"y":700,"wires":[]},{"id":"5c02195d.f746","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.sw1","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":800,"wires":[]},{"id":"6e00932.ed67d6c","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload.sw1","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":800,"wires":[["5c02195d.f746"]]},{"id":"adac1689.00f03","type":"json","z":"205051cd.ee5b9e","name":"","property":"payload","action":"","pretty":false,"x":250,"y":880,"wires":[["423ef236.3e0534"]]},{"id":"423ef236.3e0534","type":"function","z":"205051cd.ee5b9e","name":"","func":"var msg1 = {};\nvar msg2 = {};\nvar msg3 = {};\nvar msg4 = {};\n\nmsg1.payload = msg.payload.sw1;\nmsg1.topic = \"sw1\";\n\nmsg2.payload = msg.payload.sw2;\nmsg2.topic = \"sw2\";\n\nmsg2.payload = msg.payload.sw3;\nmsg2.topic = \"sw3\";\n\nmsg2.payload = msg.payload.sw4;\nmsg2.topic = \"sw4\";\n\n\n\nreturn [msg1, msg2, msg3, msg4];","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":880,"wires":[["25176a56.e9d9ce","c1aadc65.6d2eb"],["25176a56.e9d9ce","c1aadc65.6d2eb"],["c1aadc65.6d2eb"],["c1aadc65.6d2eb"]]},{"id":"25176a56.e9d9ce","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":860,"wires":[]},{"id":"c1aadc65.6d2eb","type":"ui_chart","z":"205051cd.ee5b9e","name":"","group":"e2afc1b4.bc6b68","order":0,"width":"20","height":"7","label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":660,"y":920,"wires":[[]]},{"id":"bdd6f5e7.ae8f58","type":"comment","z":"205051cd.ee5b9e","name":"LEDS","info":"","x":750,"y":40,"wires":[]},{"id":"3e9158e3.86493","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":80,"wires":[]},{"id":"c8956fbf.2f6eb8","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":1400,"y":120,"wires":[]},{"id":"d6bb7e58.f6558","type":"ui_switch","z":"205051cd.ee5b9e","name":"","label":"1","tooltip":"","group":"e01ad70f.c22268","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":680,"y":100,"wires":[["586428d8.2a29e"]]},{"id":"a8655c8f.854dc","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"T","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":80,"wires":[["3e9158e3.86493","c8956fbf.2f6eb8"]]},{"id":"586428d8.2a29e","type":"switch","z":"205051cd.ee5b9e","name":"controlla se * true o false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":100,"wires":[["a8655c8f.854dc"],["8b874aa2.f6909"]]},{"id":"8b874aa2.f6909","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"G","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":120,"wires":[["3e9158e3.86493","c8956fbf.2f6eb8"]]},{"id":"553a7afb.118bc4","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":180,"wires":[]},{"id":"86849b31.01cde","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":1400,"y":220,"wires":[]},{"id":"a65d0289.5c8d3","type":"ui_switch","z":"205051cd.ee5b9e","name":"","label":"2","tooltip":"","group":"e01ad70f.c22268","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":680,"y":200,"wires":[["391d9e3c.f09d0a"]]},{"id":"366e4937.41e20e","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Y","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":180,"wires":[["553a7afb.118bc4","86849b31.01cde"]]},{"id":"391d9e3c.f09d0a","type":"switch","z":"205051cd.ee5b9e","name":"controlla se * true o false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":200,"wires":[["366e4937.41e20e"],["def88bda.e825b"]]},{"id":"def88bda.e825b","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"H","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":220,"wires":[["553a7afb.118bc4","86849b31.01cde"]]},{"id":"4525a16b.51be6","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":280,"wires":[]},{"id":"efc066a.b103898","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":1400,"y":320,"wires":[]},{"id":"334df171.d22b6e","type":"ui_switch","z":"205051cd.ee5b9e","name":"","label":"3","tooltip":"","group":"e01ad70f.c22268","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":680,"y":300,"wires":[["93d330f4.3adca"]]},{"id":"4b74e523.21c964","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"B","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":280,"wires":[["4525a16b.51be6","efc066a.b103898"]]},{"id":"93d330f4.3adca","type":"switch","z":"205051cd.ee5b9e","name":"controlla se * true o false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":300,"wires":[["4b74e523.21c964"],["dc22fd74.9914f8"]]},{"id":"dc22fd74.9914f8","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"N","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":320,"wires":[["4525a16b.51be6","efc066a.b103898"]]},{"id":"7a218459.94d00c","type":"debug","z":"205051cd.ee5b9e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1390,"y":380,"wires":[]},{"id":"6b765d69.3850ec","type":"serial out","z":"205051cd.ee5b9e","name":"","serial":"b43a5a8a.79dc08","x":1400,"y":420,"wires":[]},{"id":"9ba50ea5.8e0ca8","type":"ui_switch","z":"205051cd.ee5b9e","name":"","label":"4","tooltip":"","group":"e01ad70f.c22268","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":680,"y":400,"wires":[["fb6ac234.a33a2"]]},{"id":"e47770d5.77f8f8","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"M","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":380,"wires":[["7a218459.94d00c","6b765d69.3850ec"]]},{"id":"fb6ac234.a33a2","type":"switch","z":"205051cd.ee5b9e","name":"controlla se * true o false","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":400,"wires":[["e47770d5.77f8f8"],["c1bdad61.66b5d"]]},{"id":"c1bdad61.66b5d","type":"change","z":"205051cd.ee5b9e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"L","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":420,"wires":[["7a218459.94d00c","6b765d69.3850ec"]]},{"id":"e351eee2.f58f2","type":"ui_group","name":"X","tab":"5b45f47d.edf5ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"b43a5a8a.79dc08","type":"serial-port","serialport":"/dev/ttyACM0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e2afc1b4.bc6b68","type":"ui_group","name":"SW","tab":"5b45f47d.edf5ac","order":3,"disp":true,"width":"20","collapse":false},{"id":"e01ad70f.c22268","type":"ui_group","name":"LEDS","tab":"5b45f47d.edf5ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"5b45f47d.edf5ac","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]